<html>
<h1> WELCOME {{user2}} to the webpage!</h1>

<body>
    <h3><div> Check out my Social Media </div></h3>

    <table>
    <tr>
        <div><a = href="https://www.youtube.com/channel/UCYDtgbjwf243HunWdAEtLPA" id ="link">Youtube</a></div>
    </tr>

    <tr>
        <div><a = href="https://www.facebook.com/kemikkal" id ="link" >Facebook</a></div>
    </tr>

    <tr>
        <div><a = href="https://www.instagram.com/kemikka1/" id ="link">Instagram</a></div>
    </tr>

    <tr>
        <div><a = href="https://twitter.com/kemikkal/" id ="link">Twitter </a></div>
    </tr>

    </table>
</body>

</html>
