<!DOCTYPE html>
<html>
<head>
    <title>My web page</title>
</head>
<body>
    <h1> {{title}} {{greeting}}</h1>

    <h2>fill out this form below</h1>
        <form action = "/" method='post'>
            What is your name: <input type="text" name ="name">
            <br/>

            type in a age: <input type="text" name="pw">

            <br/>
        <input type = "submit" >
        </form>

        <a href="https://github.com/">Github</a>
        <form method="post" >
            Name:<input type="text" name=""
            placeholder="Name">
            <button>Submit</botton>
        </form>
</body>
</html>
