<!DOCTYPE html>

<html>
<style>

body {
    background-image: url("../static/trans.jpg");
    font-size: 20px;
    color: blue;
    font-family: sans-serif;
    align-content: flex-start;





}

h1 {
    font-size: 40px
    color : red;
    font-family: arial;
    align-content: center;
    align-self: center;
}

</style>
<h1> Devon does not care </h1>
<h2><iframe src="https://giphy.com/embed/G5X63GrrLjjVK" width="399" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/unimpressed-shrug-shrugging-G5X63GrrLjjVK">via GIPHY</a></p></h2>
<body>


    <iframe width="1260" height="720" src="https://www.youtube.com/embed/BLUkgRAy_Vo?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>

</body>


</html>
