<!DOCTYPE html>

<html>
<style>

body {
    background-image: url("../static/trans.jpg");
    font-size: 20px;
    color: blue;
    font-family: sans-serif;
    align-content: flex-start;






}

h1 {
    font-size: 40px
    color : red;
    font-family: arial;
    align-content: center;
    align-self: center;
}

</style>

<h1> Why not {{fname}}!!!  :( </h1>
<h2></h2>
<body>
    <form action = "/idc" method="POST" id = "form">

        why dont u like me?: <input type="text" name="explain">

        <button >Submit</button>
    </form>


</body>


</html>
